@charset "utf-8";
body{
    background-color: #e3ded8;
    color: #878380;
    font-family: Arial, sans-serif;
}
#box{
    background-color: #e6e2d9;
    border:1px solid gray;
    padding:15px;
    margin:10px;
    border-radius: 10px;

    font-size: 3.5vmin;
}
h3{
    font-style: bold;
}
#feedslist{
    background-color: #e3ded8;
    color: #878380;

    width:90%;
    margin-left: auto;
    margin-right: auto;

    font-size: 5vmax;
    font-style: bold;
}

a:link {
    color: #37322f;
}
