@charset "utf-8";
body{
    background-color: #3b3b3e;
    color: #DCDCDC;
    font-family: Arial, sans-serif;
}
#box{
    background-color: #3b3b3e;
    border:1px solid gray;
    padding:15px;
    margin:10px;
    border-radius: 10px;

    font-size: 3.5vmin;
}
h3{
    font-style: bold;
}
#feedslist{
    background-color: #3b3b3e;
    color: #DCDCDC;

    width:90%;
    margin-left: auto;
    margin-right: auto;

    font-size: 5vmax;
    font-style: bold;
}

a:link {
    color: #b9a000;
}
